.miFondo{
    position: absolute;
    height: 400px;
    width: 600px;
    z-index: 1;
}

.astronauta{
 z-index: 3;
 position: absolute;
 height: 150px;
 width: 150px;
}

.cohete{
    z-index: 2;
    position: absolute;
    height: 150px;
    width: 150px;
}